{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="jumbotron">
        <h1>About Me</h1>
        <p>I'm a Junior Back-End Engineer</p>
      </div>

        <h3>You can find me on :</h3>
        <ul>
            <li><a href="{{'https://github.com/iColdPlayer'}}">GitHub</a></li>
            <li><a href="{{'https://linkedin.com/in/slashsdull'}}">LinkedIn</a> </li>
            <li><a href="{{'https://facebook.com/icoldplayers'}}">Facebook</a> </li>
            <li><a href="{{'https://twitter.com/sudoaptupgrade'}}">Twitter</a></li>
            <li>Discord</li>
            <li><a href="{{'https://notnoob.com'}}">Notnoob</a> </li>
        </ul>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in ex arcu. In ac egestas magna, id venenatis ex. Nam eros arcu, tempor vel varius vitae, laoreet eu enim. Cras hendrerit faucibus purus eget ornare. Integer sed magna eu lacus volutpat ultrices non sed lectus. Ut sodales neque arcu, sit amet facilisis eros bibendum vitae. Nullam arcu elit, commodo nec lectus nec, condimentum eleifend quam. Nunc eleifend eget nunc vulputate mollis. Quisque vitae tellus quis mi pulvinar luctus. In sed maximus magna. In ut justo eu tellus tempus vestibulum. In lacus purus, vulputate id lacinia ornare, tempor gravida nisi. Integer purus felis, fringilla ac commodo placerat, iaculis ac nisi. Nulla sit amet eleifend nisl.
        </p>
    </div>

{% endblock %}